@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Unbounded:wght@200..900&display=swap");
h1,
h2,
h3.h4.h5,
p {
    font-weight: inherit;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 15, 15, 0.45);

    backdrop-filter: blur(22px) brightness(1.25);
    -webkit-backdrop-filter: blur(22px) brightness(1.25);
    background: rgba(15, 15, 15, 0.45);
    overflow: hidden;
}

.nav div {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
}
.navUl {
    list-style-type: none;
}
a i {
    margin-right: 15px;
}
a {
    background-color: #ffffff1a;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    align-content: center;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-evenly;
}
.navUl li {
    border: 1px solid white;
    border-radius: 0.5rem;
}
.navUl li a img {
    width: 15.07px;
    height: auto;
}
.navA a i {
    align-content: center;
}
.navA a{margin: 8px}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.div1 {
    display: flex;
    padding: 1rem;
}
.div2 {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.section2 img {
    width: 10rem;
    height: 10rem;
}
.divtext {
    margin-left: 2rem;
    width: 60%;
    align-content: center;
}
.divtext h3 {
    font-size: 2.25rem;
}
.divimg {
    align-content: center;
}

.section3 h2 {
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
}
.divButton {
    justify-content: center;
    display: flex;
    background-color: transparent;
    border-radius:
}
.divButton {
    border-bottom: 1px solid #1f293795;
}
.divButton button {
    background-color: transparent;
    color: rgb(156 163 175);
    font-size: 1.125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
}
.divButton button:hover {
    color: rgb(229 231 235);
}
.divButton i {
    margin-right: 8px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
}
.card div {
    display: flex;
    border-radius: 1rem;
    width: 35%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    border: 2px solid rgba(255,255,255,.1);
    transition: 0.3s
}
.card div:hover {transform: translateY(-.25rem);border: 2px solid #ffa3014d;}
.card img {
    width: 20%;
    height: auto;
    margin-right: 1.25rem;
    box-shadow: 0 4px 8px #ffa30133;
    border-radius: .5rem;
}
.card img:hover {transform: scale(1.1)}
.sectionF {display: flex;justify-content: center}

