.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 15, 15, 0.45);

    backdrop-filter: blur(22px) brightness(1.25);
    -webkit-backdrop-filter: blur(22px) brightness(1.25);
    background: rgba(15, 15, 15, 0.45);
    overflow: hidden;


}

.nav div {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around
}
.navUl {
    list-style-type: none;
}
a i {margin-right: 15px}
a {
    background-color: #ffffff1a;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    align-content: center;
    padding:10px 15px 10px 15px;
    display: flex;justify-content: space-evenly

}
.navUl li {border: 1px solid white;border-radius: 0.5rem}
.navUl li a img {width: 15.22px;height: auto}
